@model ContactModel
@{
    ViewData["title"] = "Edit Contact";
}


<h3>Cập Nhật Liên Hệ</h3>

<div class="col-md-9">
    <form asp-action="Edit" asp-controller="Contact" method="post" enctype="multipart/form-data">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="Id" />


        <div class="form-group">
            <label>Tên</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Số điện thoại</label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Map</label>
            <textarea asp-for="Map" class="form-control"> </textarea>
            <span asp-validation-for="Map" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Mô tả</label>
            <textarea asp-for="Description" class="form-control"> </textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>



        <div class="form-group">
            <label>Logo</label>
            <input asp-for="ImageUpload" class="form-control" />

            <td> <img src="~/media/logo/@Model.LogoImg" width="120px" height="120px"/> </td>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Cập Nhật</button>
        </div>


    </form>

    <a asp-action="Index" asp-controller="Contact">Quay lại</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
        <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
        <script>
            CKEDITOR.replace('Description');
        </script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var style = document.createElement("style");
                style.innerHTML = ".cke_notification { display: none !important; }";
                document.head.appendChild(style);
            });
        </script>


}

